$primary: #107FAB;
$primary-light: #81BFD4;
$accent: #448314;
$accent-light: #A0C181;
$danger: #C74B36;
$warning: #F28E24;
$base: #F2F2F2;
$grey: #9AA8A6;
$darker: #37454D;
$white: #FFFFFF;
$gradient: linear-gradient(70deg, $primary-light, $primary);
