@import "./sizes";
@import "./colors";

input {
  &:focus {
    outline: none;
  }
}

input[type=text] {
  width: 100%;
  padding: $standard-size;
  border: 1px solid $grey;
  border-radius: $border-radius;
  box-sizing: border-box;
  resize: vertical;
}

input[type=checkbox] {
  padding: $standard-size;
  border: 1px solid $grey;
  border-radius: $border-radius;
  box-sizing: border-box;
  resize: vertical;
}

label {
  font-family: 'Roboto', serif;
  margin: 5px 0;
}

.form__section {
  margin: 10px 0;
}
