@import "colors";
@import "fonts";
@import "layout";
@import "sizes";
@import "card";

body {
  margin: 0;
  background: $base;
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.page__title {
  @extend .title;
  margin: $standard-size 0;
}
