<div class="event__details">
  <h4 class="event__title subtitle"> {{name}} </h4>

  <div class="event__details-extract text">
    <span class="event__time">
        <i class="far fa-clock"></i>
      {{startDate}}
      </span>
    <span class="split small"> - </span>
    <span class="event__location">
        <i class="fas fa-city"></i>
      {{city}}
      </span>
    <span class="split"> - </span>
    <span class="event__duration">
          {{eventDurationLabel}}
      </span>
  </div>
</div>

