@import "../../../../styles/colors";
@import "../../../../styles/sizes";
@import "../../../../styles/media";

.events__day-list {
  padding: $standard-size;
  margin: $standard-size 0;
  border-top: 1px solid $grey;
}
